
.layout__container_space-v_xxxxl{
    padding-top: var(--space-xxxxl);
    padding-bottom: var(--space-xxxxl);
}

.layout__container_space-v_xxxxxl{
    padding-top: var(--space-xxxxxl);
    padding-bottom: var(--space-xxxxxl);
}

.layout__container_indent-b_xxl{
    margin-bottom: var(--space-xxl);
}


.layout__container_indent-b_xxxxl{
    margin-bottom: var(--space-xxxl); 
}

